script(src="/js/showErr.js")
script(src="/js/publish.js")
script(src="/js/createEditor.js")
script(src="/js/save.js")
script(src="https://cdn.jsdelivr.net/npm/@editorjs/editorjs@latest")
script(src="https://cdn.jsdelivr.net/npm/@editorjs/header@latest")
script(src="https://cdn.jsdelivr.net/npm/@editorjs/delimiter@latest")
script(src="https://cdn.jsdelivr.net/npm/@editorjs/inline-code@latest")
link(rel="stylesheet", href="/css/navbar.css")
link(rel="stylesheet", href="/css/popup.css")
link(rel="stylesheet", href="/css/editor.css")
link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=Sora:wght@300;400&display=swap")
script
  include ../public/js/navbar.js
title New Story