div(class="navbar")
      nav
        ul
          li 
            a(href="/")
              img(src="https://github.com/abhilashkasula/phrase-it/wiki/images/logo.png", alt="" class="logo")
        ul
          li(class="options")
            div
              div(id="status" class="status-hide") status
            div
              button(class="disabled publish-button" id="publish") Publish
          li(class="avathar-nav")
            img(src=`${avatar_url}`, alt="" class="navbar-avathar")
            div(class="dropdown-links")
              div(class="links") 
                a(href="/stories") Your stories
                div(id="Logout" onclick="logout()") Logout
div(id="error" class="err-hide") error
div(class="container")
  div(id="new-blog")
    div
      input(type="text", id="title" placeholder="Title" maxLength="39")
    div
      div(id="editor")
