div(class="navbar")
      nav
        ul
          li 
            a(href="/")
              img(src="/images/logo-navbar.png", alt="" class="logo")
        ul
          li(class="options")
            div
              div(id="status" class="status-hide") status
            div
              a(class="disabled publish-button" id="popup-publish") Publish
          include avatar_dropdown
div(id="error" class="status-hide") error
div(class="container")
  div(id="new-blog")
    div
      input(type="text", id="title" placeholder="Title" maxLength="39")
    div
      div(id="editor")
  div(id="tag-popup" class="overlay")
    div(class="popup")
      a(href="#" class="close" id="popup-close") &times
      div(class="content") 
        input(type="file" id="coverImage-fetcher" accept="images/*" style="visibility: hidden;" onchange="showCoverImage()")
        div(class="coverImage-adder")
          label(for="coverImage-fetcher")
            div(class="coverImage-container")
              <img src="https://img.icons8.com/android/24/000000/upload.png" class="coverImage-before" id="coverImage"/>
        div(id="tags")
        div(class="options")
          input(type="text" onkeydown="addTags()" id="tag-field" placeholder="Add tag here")
          button(class="publish-button enabled" id="publish") Publish
