div(class="navbar")
      nav
        ul
          li 
            a(href="/")
              img(src="https://github.com/abhilashkasula/phrase-it/wiki/images/logo.png", alt="" class="logo")
        ul
          li(class="options")
            div
              div(id="status" class="status-hide") status
            div
              a(class="disabled publish-button" id="popup-publish" onclick="hideEditor()") Publish
          li(class="avathar-nav")
            img(src=`${avatar_url}`, alt="" class="navbar-avathar")
            div(class="dropdown-links")
              div(class="links") 
                a(href="/profile")
                  div(class="profile-link")
                    img(src=`${avatar_url}`, class="navbar-avatar")
                    p(class="user-link")=username
                a(href="/stories") Your stories
                div(id="Logout" onclick="logout()") Logout
div(id="error" class="err-hide") error
div(class="container")
  div(id="new-blog")
    div
      input(type="text", id="title" placeholder="Title" maxLength="39")
    div
      div(id="editor")
  div(id="tag-popup" class="overlay")
    div(class="popup")
      h2 Add tags
      a(href="#" class="close" onclick="showEditor()") &times
      div(class="content") 
        div(id="tags")
        div(class="options")
          input(type="text" onkeydown="addTags()" id="tag-field" placeholder="Add tag here")
          button(class="publish-button enabled" id="publish") Publish
