html
  head 
    title Phrase-it
    style
      include ../public/css/navbar.css  
      include ../public/css/home.css 
    script(src="/js/home.js") 

  body
    include navbar.pug
    div(class="dashBoard")

