html
  head 
    title Phrase-it
    style
      include ../public/css/index.css

  body
    div(class= 'container')
      h1(class= 'title') Welcome to,
      div(class= 'box')
        img(src="https://github.com/abhilashkasula/phrase-it/wiki/images/logo.png", alt="" class="logo")
        a(href=`https://github.com/login/oauth/authorize?client_id=${CLIENT_ID}` class='link') 
          div(class= 'login') 
            span(class= 'text') Login Using Github
            img(src="../images/github.png", alt="" class="github")

  
