script
  include ../public/js/navbar.js

div(class="navbar")
  nav
    ul
      li 
        a(href="/" id="title")
          img(src="/images/logo-navbar.png", alt="" class="logo")

    ul
        if isUserAuth
          li
            a(href="/newStory", class="add-container")
              img(src="https://img.icons8.com/metro/26/000000/add-file.png", alt="")
          //- li
          //-   a(href="#", class="search-container")
          //-     img(src="https://img.icons8.com/ios-glyphs/30/000000/search.png", alt="")
          li(class="avathar-nav")
            img(src=`${avatar_url}`, alt="" class="navbar-avathar")
            div(class="dropdown-links")
              div(class="links") 
                a(href="/stories") Your stories
                div(id="Logout" onclick="logout()") Logout
        
        else 
            li
              a(href="/")
                span Login