script
  include ../public/js/sendPostRequest.js
style
  include ../public/css/popup.css

div(class="navbar")
  nav
    ul
      li 
        a(href="/")
          img(src="/images/logo-navbar.png", alt="" class="logo")

    ul
        if isUserAuth
          li
            a(href="/user/newStory", class="add-container")
              img(src="https://img.icons8.com/metro/26/000000/add-file.png", alt="")
          li
            a(href="/user/searchPage", class="search-container")
              img(src="/images/search-icon.png", alt="")
          include avatar_dropdown
        else 
            li
              a(href="/")
                span Login