script
  include ../public/js/navbar.js
style
  include ../public/css/popup.css

div(class="navbar")
  nav
    ul
      li 
        a(href="/" id="title")
          img(src="/images/logo-navbar.png", alt="" class="logo")

    ul
        if isUserAuth
          li
            a(href="/user/newStory", class="add-container")
              img(src="https://img.icons8.com/metro/26/000000/add-file.png", alt="")
          li
            a(href="/user/searchPage", class="search-container")
              img(src="/images/search-icon.png", alt="")
          li(class="avatar-nav")
            img(src=`${avatar_url}`, alt="" class="navbar-avatar")
            div(class="dropdown-links")
              div(class="links") 
                a(href=`/user/profile/${id}`)
                  div(class="profile-link")
                    img(src=`${avatar_url}`, class="navbar-avatar")
                    p(class="user-link")=username
                a(href="/user/stories" class="link") Your stories
                a(class="link" href="#logout-popup") Logout

          div(id="logout-popup" class="overlay")
            div(class="popup")
              h2 Are you sure, you want to logout? 
              div(class="logout-options")
                a(href="#") Cancel
                button(id="logout" onclick="logout()") Logout
        else 
            li
              a(href="/")
                span Login