html
  head
    title searchPage
    link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=Sora:wght@300;400&display=swap")
    link(rel="stylesheet", href="/css/navbar.css")
    link(rel="stylesheet", href="/css/searchPage.css")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.27.0/moment.min.js")
    script(src="/js/search.js")
  body
    include navbar
    div(class="main-container")
      div(class="search-bar-container")
        input(type="search" placeholder="search here..." id="search-bar" class="search-bar" onKeypress="search()")
      div(class="placeholder" id="search-placeholder")
        img(src="/images/search-icon.png", alt="" class="search-icon")
        p No active search results....
      div(class="search-result-container hidden" id="search-result")
        div(id="author-search-result" class="search-sub-container")
          h2(class="sub-head") author
          div(id="author-based-cards" class="cards")
        div(class="vertical-line")
        div(id="tag-search-result" class="search-sub-container")
          h2(class="sub-head") tags
          div(id="tag-based-cards" class="cards")
        div(class="vertical-line")
        div(id="content-search-result" class="search-sub-container")
          h2(class="sub-head") content
          div(id="content-based-cards" class="cards")