body {
  font-family: 'Sora', sans-serif;
}

.dashBoard {
  display: flex;
  margin-top: 0.5%;
  height: calc(100% - 10%);
  justify-content: space-evenly;
  flex-wrap: wrap;
}


.message-box{
  text-align: center;
  opacity: .6;
  position: relative;
  top:210px;
  display: inline-block;
  height:300px;
  width:85vw;
  display:none
}

.message-box>p{
  font-style: italic;
}

.story-box {
  cursor: pointer;
  border: 1px solid #ccc;
  padding: 23px;
  margin-top: 4px;
  margin-bottom: 4px;
  border-radius: 3px;
}

.story-box:hover {
  box-shadow: 0px 0px 4px #ccc;
}

.story-author-container {
  display: flex;
  align-items: center;
}

.story-author-container div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.story-time {
  font-size: 11px;
  color: #757575;
}

.story-author-name {
  color: #232323;
  font-size: 14px;
}

.story-content {
  margin-bottom: 10px;
  color: #757575;
}

h1 {
  margin-bottom: 5px;
  margin-top: 8px;
}

.title {
  font-size: 19px;
  margin: 0;
}

.story-content {
  margin: 0;
  margin-top: 18px;
  margin-bottom: 18px;
  font-weight: 100;
  font-size: 16px;
}

.discover {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

#discover {
  overflow: scroll;
  height: 100%;
  display: flex;
  flex-direction: column;
}

#following {
  display: flex;
  flex-direction: column;
  width: calc(100% - 50%);
  overflow: scroll;
  height: 100%;
}

.discover-story-box {
  border: 1px solid #ccc;
  padding: 23px;
  width: 350px;
  margin: 4px 0 4px 0;
}

.discover-story-box:hover {
  box-shadow: 0px 0px 4px #ccc;
}

.discover-story-box .title {
  font-size: 17px;
  margin-bottom: 6px;
}

.discover-story-box .story-author-name {
  font-size: 12px;
}
