body{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
}


.dashBoard{
  position: relative;
  top:20px;
  display: inline-block;
  height:620px;
  width:1000px;
  overflow: scroll;
}


.story-box {
  position: relative;
  left: 15px;
  width: 950px;
  text-align: left;
  padding-bottom: 25px;
  border-bottom: 1px solid black;
}
