
.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 400ms;
  visibility: hidden;
  opacity: 0;
}

.overlay:target {
  visibility: visible;
  opacity: 1;
  z-index: 10;
}

.popup {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 30%;
  position: relative;
  transition: all 5s ease-in-out;
  top: 20%;
}

.popup h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}
.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .close:hover {
  color: #d84106;
}

.logout-options,.delete-options {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.logout-options a,.delete-options a{
  text-decoration: none;
  color: black;
  width: 50px;
  color: #505050;
  font-weight: 600;
}

.logout-options * ,.delete-options *{
  font-size: 15px;
  padding: 5px 10px;
  border-radius: 4px;
  text-align: center;
  cursor: pointer;
}

.logout-options #logout, #delete{
  font-weight: 600;
  background-color: white;
  outline:  none;
  padding: 5.5px 10px;
  width: 70px;
  margin-left: 25px;
  color: #f3655b;
  border: none;
}

.logout-options a:hover ,.delete-options a:hover {
  font-weight: 900;
  color: black;
}

#logout:hover, #delete:hover{
  font-weight: 900;
  color: #f02618;
}
