.new-response-block {
  display: flex;
  justify-content: center;
  margin-top: 15px;
  padding: 20px 0;
  height: 170px;
}

.new-response {
  display: flex;
  flex-direction: column;
  justify-content: left;
  border: 2px solid #cccccc;
  border-radius: 4px;
  align-self: center;
  width: 48%;
  height: 98%;
  padding: 20px;
}

.response {
  border: none;
  resize: none;
  width: 100%;
  height: 80%;
  outline: none;
  font-size: 17px;
  font-family: 'Sora', sans-serif;
}

.submit-response {
  background-color: white;
  border: solid gray 1.5px;
  border-radius: 4px;
  width: 20%;
  height: 35px;
  font-size: 18px;
  font-weight: 400;
}
